*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

 body{
  background-color: #B2B2AA;
  display: block;
  margin: 0 auto;
}

h4{
  margin: 0px 0 0 0;
}

.data {
font-family:"Courier New", Courier, monospace;
}
.mapcontainer{
  margin-bottom:20px;
}
@media only screen and (min-device-width: 500px) {
  .mapcontainer{
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 500px;
  text-align: center;
  background-color: #B28221;
  padding: 40px 10px 10px 10px;
}
}


hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

mapbody{
  background-color: #FFFFFF;
}

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
  }
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 20px 0;
    font-size: 24px;
  }
  .item1{
    font-size: 24px;
    font-weight:bold;
    color:grey;
  }
  .item2 {
    font-size: 16px;
    grid-column: 2 / 7;
  }

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .centered{
    text-align: center;
  }

  .content {
  /* width: 100%;
  height: 100%; */
    clear: both;
    margin: 0 auto;
    font-size: 20px;
    max-width: 800px;
    padding: 0 5px 0 5px;
}


.header{
  margin: 0 auto;
  padding:10px 0 30px 0;
  width: 100%;
  background-color: #FFFFFF;
  border-bottom: 5px solid #3B3B13;
}


.btn-group button {
    background-color: #FF5200; /* Green background */
    border: 1px solid #3B3B13; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    min-height: 100px;
    /* margin: 10px 0 0 0 ; */
}
a{
  text-decoration: none;
  color: white;``
}
/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;

}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3B3B13;
}
  /* .navbutton {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
      margin:3px 0 0 0;
      width: 200px;
      height: 80px; */
  } */

  * {box-sizing: border-box}

  .container {
    margin: 0 0 30px 0 ;
    /* padding:0 0 0 0 ; */
    width: 100%;
    background-color: #d9d9d9;
  }

  .tracker {
    text-align: right;
    padding: 0px;
    color: white;
    height:25px;
  }

.tracker span{
  margin:10px
}
  .infected {width: 0%; background-color: #FF5200;}

  .dead {width: 0%; background-color: #CC0000;}
