RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]



#<FilesMatch "AAAA">
#AuthName "Member Only"
#AuthType Basic
#AuthUserFile /Users/dpawlows/secure/.htpasswd
#require valid-user
#</FilesMatch>

#<FilesMatch "BBBB">
#AuthName "Member Only"
#AuthType Basic
#AuthUserFile /Users/dpawlows/secure/.htpasswd
#require valid-user
#</FilesMatch>
